{% extends 'base.html.twig' %}

{% block title %}Accueil BloodBowl{% endblock %}

{% block body %}
<h1>Le BloodBowl Kèsskecé</h1>
    <div class="images">
        <img src="{{ asset('images/Jim_and_Bob.jpg') }}">
    </div>
    <div class="text">
        <p><span class="name">Jim:</span> Salut les amis et bienvenue dans l'arène la plus sanglante et excitante de tout le Vieux Monde ! Je suis Jim Johnson, et avec moi, c'est Bob Bifford !</p>
        <p><span class="name">Bob:</span> Salut tout le monde ! Accrochez-vous bien, car on va vous plonger dans l'univers brutal et hilarant du Blood Bowl !</p>
        <p><span class="name">Jim:</span> Alors, Blood Bowl, c'est quoi au juste ? Imaginez un mélange dément entre le football américain et l'univers fantastique de Warhammer. Vous avez des elfes, des nains, des orques, et même des morts-vivants, tous réunis sur le terrain pour se taper dessus et marquer des touchdowns !</p>
        <p><span class="name">Bob:</span> C'est ça, Jim ! Mais attention, pas de quartier ici ! Chaque équipe a son style de jeu, ses forces et ses faiblesses. Les elfes sont rapides et agiles, les nains sont costauds et résistants, et les orques... eh bien, ils sont juste là pour tout démolir sur leur passage !</p>
        <p><span class="name">Jim:</span> Exactement, Bob ! Et pour gagner au Blood Bowl, il faut être stratégique autant que brutal. Pas seulement question de foncer tête baissée ! Vous devez penser à chaque coup, chaque passe, chaque blocage.</p>
        <p><span class="name">Bob:</span> Et n'oublions pas les supporters ! Le Blood Bowl ne serait rien sans ses fans en délire, prêts à encourager leur équipe préférée ou à huer les adversaires. Ça ajoute une ambiance du tonnerre à chaque match !</p>
        <p><span class="name">Jim:</span> Vous voulez rejoindre l'action et créer votre propre équipe ? Pas de soucis ! Avec notre nouveau site web, vous pouvez concevoir votre propre roster, choisir vos joueurs, les équiper avec les meilleures armes et armures, et les lancer sur le terrain pour le combat ultime !</p>
        <p><span class="name">Bob:</span> C'est génial, Jim ! Vous pourrez même défier d'autres joueurs, participer à des ligues, et grimper dans les classements pour devenir le champion ultime du Blood Bowl !</p>
        <p><span class="name">Jim:</span> Mais attention, débutants, le Blood Bowl n'est pas pour les cœurs tendres. Vous allez perdre, vous allez vous faire écraser, et parfois, vous aurez juste envie de crier de frustration. Mais c'est ça qui rend ce jeu si addictif !</p>
        <p><span class="name">Bob:</span> Alors, qu'attendez-vous ? Rejoignez-nous sur le terrain, lancez-vous dans l'action, et que le meilleur gobelin gagne !</p>
        <p><span class="name">Jim:</span> C'est tout pour aujourd'hui, les fans ! On se retrouve sur le terrain pour de nouvelles aventures sanglantes ! À la prochaine !</p>
    </div>
{% endblock %}
