{% extends 'base.html.twig' %}

{% block title %}Création de championnat{% endblock %}

{% block body %}
    <h1>Créer un championnat</h1>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button type="submit">Envoyer</button>
    {{ form_end(form) }}
{% endblock %}