{% extends 'base.html.twig' %}

{% block title %}New Race{% endblock %}

{% block body %}
    <h1>Create new Race</h1>

    {{ include('race_controller2/_form.html.twig') }}

    <a href="{{ path('app_race_controller2_index') }}">back to list</a>
{% endblock %}
