{% extends 'base.html.twig' %}

{% block title %}New Championship{% endblock %}

{% block body %}
    <h1>Create new Championship</h1>

    {{ include('championship/_form.html.twig') }}

    <a href="{{ path('app_championship_index') }}">back to list</a>
{% endblock %}
