@import "titres";
@import "images";
@import "navbar";
@import "formulaire";
@import "tableaux";

:root {
  --color-one: #D9D9D9;
  --color-two: #000000;
  --color-three: #FFFFFF;
  --color-four: #005500;
  --color-five: #8B0000;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  background-color: var(--color-three);
  color: var(--color-two);
}

span.name {
  font-size: larger;
  font-weight: bold;
}

div.text {
  margin:auto;
  width: 60%;
  text-align: left;
}

p {
  padding-left: 10px;
}

a.equipe {
  margin-bottom: 10px;
}

span.equipe {
  color: var(--color-one);
  padding: 10px;
}
 div.liste_equipe {
   display: inline-block;
   width: 20vw;
   margin: 2vw;
 }
 li.championnat a {
   font-size: 25px;
   color: var(--color-two);
   text-decoration: none;
 }
div.creer_championnat {
  display:flex;
  justify-content: center;
}
div.bouton_joueurs {
  display: flex;
  justify-content: space-between;
}
div.bouton_ajouter {
  display: inline;
  width: 45%;
  height: auto;
  margin: auto;
}
div.bouton_effacer {
  display: inline;
  width: 45%;
  height: auto;
  margin: auto;
}
img.joueur {
  width: 30px;
  height: auto;
}
p.player_p {
  color: var(--color-three);
}