{% extends 'base.html.twig' %}

{% block title %}Création d'équipes{% endblock %}

{% block body %}
    <h1>Quelle équipe voulez vous créer?</h1>
    {% for race in races %}
        <h2>{{ race.nom }}</h2>
    {% endfor %}
{% endblock %}